
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_menubar")
<div class="page_title2">
    <div class="container">
        <h1>Disclaimer</h1>
    </div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="content_fullwidth">

    <div class="container">

        <div class="one_full">
            <p style="text-align:justify;"><i>The information contained in the electronic correspondence of our Law Firm, in general, as well as the information contained in this electronic communication and any of its attachments, in particular, is strictly confidential and susceptible to legal protection, and is only directed exclusively to its addressee, defined as the person to whom this email is intentionally addressed. Any access to the contents of this email by persons other than the addressee is unauthorized. Disclosure, transmission, distribution, reproduction or copying of this communication by any means is prohibited. If you have received this email by mistake, we request you to delete it and erase it from your records and send a message or contact the sender to inform reception. Our Law Firm is not responsible for the proper or complete transmission of the information contained in this communication nor for any delay in its receipt.</i></p><br />
            <p style="text-align:justify;"><i>The contents of this email is for information only and has no contractual nature. Therefore, in no case it can be construed that this email contains an invitation to offer, an offer, counter-offer, an acceptance or any other contractual statement or expression of will with contractual, mandatory or binding effects on our Law Firm or clients.</i></p><br />
        </div>

    </div>
</div><!-- end content area -->