@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_menubar")
<div class="page_title2">
    <div class="container">
        <h1>Aviso de Confidencialidad</h1>
    </div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="content_fullwidth">

    <div class="container">

        <div class="one_full">
            <p style="text-align:justify;">La información contenida en la correspondencia electrónica de nuestro Estudio, en general, así como la información contenida en esta comunicación electrónica y en cualesquiera de sus adjuntos, en particular, es confidencial y susceptible de protección legal, y está dirigida única y exclusivamente a su destinatario, entendiendo por tal a la persona a quien este correo electrónico está intencionalmente dirigido. Cualquier acceso al contenido de este correo electrónico por personas distintas de su destinatario no está autorizado. Su divulgación, difusión, transmisión, distribución, reproducción o copiado por cualquier medio está prohibido. Si usted ha recibido este correo electrónico por error, le solicitamos que lo borre y lo elimine de sus archivos y envíe un mensaje o contacte al remitente informando de su recepción. Nuestro Estudio no es responsable por la adecuada o íntegra transmisión de la información contenida en esta comunicación ni por cualquier demora o retraso en su recepción.</p><br />
            <p style="text-align:justify;">El contenido de este correo electrónico es meramente informativo y no tiene naturaleza ni vocación contractual. Por tanto, en ningún caso se deberá interpretar que este correo electrónico contiene una invitación a ofrecer, una oferta, una contraoferta, una aceptación o cualquier otra declaración contractual o manifestación de voluntad con efectos contractuales, obligatorios o vinculantes para nuestro Estudio o clientes. Si el contenido de este correo electrónico está referido a la negociación de determinada relación contractual, sólo el documento suscrito por los representantes legales de nuestra organización contendrá los términos que la vinculen jurídicamente.</p><br />
        </div>

    </div>
</div><!-- end content area -->

