@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site_wrapper">

    <header id="header" style="height: 136px;" class="">
        <!-- top header bar -->
        <div id="topHeader">
            <div class="wrapper">
                <div class="top_nav">
                    <div class="container">
                        <!-- left links -->
                        <div class="left">
                            <ul class="topsocial">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <!-- end left links -->
                        <!-- right links -->
                        <div class="right">
                            <i class="fa fa-phone"></i>&nbsp;<strong> (511) 422-5900</strong>
                        </div>
                        <!-- end right links -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end top header bar -->

        <div id="trueHeader">
            <div class="wrapper">
                <div class="container">

                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html" id="logo"></a>
                    </div>

                    <!-- Navigation Menu -->
                    <nav class="menu_main">

                        <div class="navbar yamm navbar-default">

                            <div class="container">
                                <div class="navbar-header">
                                    <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1">
                                        <span>Menu</span>
                                        <button type="button"> <i class="fa fa-bars"></i></button>
                                    </div>
                                </div>

                                <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">

                                    <ul class="nav navbar-nav">

                                        <li class="dropdown">
                                            <a href="index.html" class="active">El Estudio</a>
                                        </li>

                                        <li class="dropdown">
                                            <a href="miembros.html">Miembros</a>
                                        </li>

                                        <li class="dropdown">
                                            <a href="areas-practica.html">Áreas de Práctica</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="contacto.html">Contacto</a>
                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </div>

                    </nav><!-- end Navigation Menu -->

                </div>

            </div>

        </div>

    </header>


    <!-- Slider
    ======================================= -->

    <div class="mstslider" style="position: relative;">

        <!-- masterslider -->
        <div class="master-slider ms-skin-default" id="masterslider" style="visibility: visible; opacity: 1; margin: 0px; width: 1287px;">
            <div class="ms-container">
                <div class="ms-inner-controls-cont" style="max-width: 1400px;">
                    <div class="ms-view ms-basic-view ms-grab-cursor" style="width: 1287px; height: 533.185714285714px; left: 0px;">
                        <div class="ms-slide-container" style="-webkit-transform: translateX(0px) translateZ(0px);">
                            <div class="ms-slide slide-1 ms-sl-selected" data-delay="7" style="width: 1287px; height: 533.185714285714px; left: 0px;">

                                <!-- slide background -->




                                <div class="ms-slide-bgcont" style="height: 100%; opacity: 1;"><img src="http://placehold.it/1920x580" alt="" style="height: 533px; width: 1764.41379310345px; margin-top: 0px; margin-left: -238.5px;"></div><div class="ms-slide-layers" style="left: 0px; max-width: 1400px; opacity: 1;"><div class="ms-layer sldbut1" style="left: 106.637142857143px; top: 418.275px; opacity: 1; margin: 0px; padding: 0px; font-size: 12.87px; line-height: 12.87px;" data-ease="easeOutExpo"><a href="#">Empieza Aquí</a></div></div>
                            </div>
                        </div>
                    </div><div class="ms-nav-next ms-ctrl-hide" style="opacity: 0;"></div><div class="ms-nav-prev ms-ctrl-hide" style="opacity: 0;"></div><div class="ms-bullets ms-dir-h ms-ctrl-hide" style="opacity: 0; width: 18px;"><div class="ms-bullets-count"><div class="ms-bullet ms-bullet-selected"></div></div></div>
                </div>
            </div>

            <!-- slide -->
            <!-- end slide -->

        </div><!-- end of masterslider -->

    </div><!-- end slider -->

    <div class="clearfix"></div>

    <div class="feature_sec1">
        <div class="container">

            <div class="title11">
                <h2>
                    Cavero-Blumenfeld, Llosa &amp; R. La Rosa
                    <em>Experiencia. Fiabilidad. Ética.</em>
                    <span class="line"></span>
                </h2>
            </div>

            <p>Cavero-Blumenfeld, Llosa &amp; R. La Rosa (CCLR) es un Estudio de abogados que se distingue por el compromiso que tiene con sus clientes, por la atención personalizada que brinda y por el nivel de eficacia obtenida en cada una de sus participaciones.</p>
            <p>&nbsp;</p>
            <p>Nuestro objetivo es brindar un servicio personalizado y de gran calidad, buscando en todo momento otorgar soluciones legales integrales, de acuerdo a las necesidades de nuestros clientes.</p>
            <p>&nbsp;</p>
            <p>Contamos con un equipo de trabajo integrado por profesionales egresados de las universidades más prestigiosas del país, con maestrías y especializaciones en distintas áreas del Derecho. Antes de formar parte de CCLR Abogados, nuestros miembros ejercieron la práctica profesional en prestigiosos estudios, empresas e instituciones públicas de primer nivel, lo cual les permitió obtener amplia experiencia en la asesoría de entidades públicas y privadas, tanto nacionales como extranjeras.</p>

        </div>
    </div><!-- end features section 1 -->

    <div class="clearfix"></div>

    <!--
    <div class="feature_sec2">
        <div class="container">

            <div class="one_fourth">

                <i class="fa fa-university animate" data-anim-type="zoomIn" data-anim-delay="100"></i>
                <h4>Responsive Theme</h4>
                <p class="marb4">Making this the first true generator on the Internet uses a dictionary of over models sentence structures reasonable the always free.</p>
                <a href="#" class="button7">Read More</a>

            </div>

            <div class="one_fourth">

                <i class="fa fa-paper-plane animate" data-anim-type="zoomIn" data-anim-delay="200"></i>
                <h4>Diffrent Headers</h4>
                <p class="marb4">Making this the first true generator on the Internet uses a dictionary of over models sentence structures reasonable the always free.</p>
                <a href="#" class="button7">Read More</a>

            </div>

            <div class="one_fourth active">

                <i class="fa fa-briefcase animate" data-anim-type="zoomIn" data-anim-delay="300"></i>
                <h4>Profession &amp; Modern</h4>
                <p class="marb4">Making this the first true generator on the Internet uses a dictionary of over models sentence structures reasonable the always free.</p>
                <a href="#" class="button7">Read More</a>

            </div>

            <div class="one_fourth last">

                <i class="fa fa-gavel animate" data-anim-type="zoomIn" data-anim-delay="400"></i>
                <h4>Well Structured</h4>
                <p class="marb4">Making this the first true generator on the Internet uses a dictionary of over models sentence structures reasonable the always free.</p>
                <a href="#" class="button7">Read More</a>

            </div>

        </div>
    </div>
    -->
    <!-- end features section 2 -->

    <div class="clearfix"></div>

    <footer>

        <div class="footer">

            <div class="container">

                <div class="left animate fadeInLeft" data-anim-type="fadeInLeft" data-anim-delay="300">

                    <h5>Llámanos</h5>
                    <h6>Lunes - Viernes: 9am - 6pm.</h6>
                    <h3 style="font-size: 18px;">(511) 422-5900</h3>

                </div><!-- end section -->

                <div class="center animate fadeIn" data-anim-type="fadeIn" data-anim-delay="400">

                    <h5>Escríbenos</h5>
                    <h6>Disponibilidad 24/7</h6>
                    <h3 style="font-size: 16px;"><a href="mailto:administracion@cclrabogados.com">administracion@cclrabogados.com</a></h3>

                </div><!-- end section -->

                <div class="right animate fadeInRight" data-anim-type="fadeInRight" data-anim-delay="500">

                    <h5>Visítanos</h5>
                    <h6>Jorge Vanderghen 315, Lima 18, Perú.</h6>
                    @*<h3><a href="https://www.google.com/maps/place/Av+Jorge+Vanderghen+315,+Lima+15073,+Peru/@-12.1106742,-77.0398721,18z/data=!4m2!3m1!1s0x9105c838c30fb5e5:0x77bc1f32b20a76d6?hl=ess" target="_blank">Ver Mapa</a></h3>*@

                </div><!-- end section -->

            </div>

        </div><!-- end footer -->

        <div class="copyrights">
            <div class="container">

                <div class="one_half">2015 © CCLR Abogados. Todos los derechos reservados.</div>

                <div class="one_half last">Diseno web por <a href="http://nube.la" target="_blank">Nube Labs</a>.</div>


            </div>
        </div><!-- end copyrights -->

    </footer>

    <a href="#" class="scrollup" style="display: none;">Scroll</a><!-- end scroll to top of the page-->



</div>
