@Html.Partial("_menubar")
@using CCLRAbogados.Data
@using System.Threading
@using System.Globalization
@using CCLRAbogados.Core.DTO;

@Scripts.Render("~/Content/themes/cclra/js/cubeportfolio/main.js")
<script src="~/Content/themes/cclra/js/mainmenu/bootstrap.min.js"></script>
<div class="mstslider">

    <!-- masterslider -->
    <div class="master-slider ms-skin-default" id="masterslider">

        <!-- slide -->
        <div class="ms-slide slide-1" data-delay="7">

            <!-- slide background -->
            <img src="~/Content/themes/cclra/js/masterslider/blank.gif" data-src="http://placehold.it/1920x580" alt="" />

            <div class="ms-layer sldbut1"
                 style="left:116px; top:455px"
                 data-effect="right(50)"
                 data-duration="2000"
                 data-delay="500"
                 data-ease="easeOutExpo"><a href="#">Empieza Aquí</a></div>

        </div><!-- end slide -->

    </div><!-- end of masterslider -->

</div><!-- end slider -->

<div class="clearfix"></div>

<div class="feature_sec1">
    <div class="container">

        <div class="title11">
            <h2>
                Cavero-Blumenfeld, Llosa &amp; R. La Rosa
                <em>Experiencia. Fiabilidad. Ética.</em>
                <span class="line"></span>
            </h2>
        </div>

        <p>Cavero-Blumenfeld, Llosa & R. La Rosa (CCLR) es un Estudio de abogados que se distingue por el compromiso que tiene con sus clientes, por la atención personalizada que brinda y por el nivel de eficacia obtenida en cada una de sus participaciones.</p>
        <p>&nbsp;</p>
        <p>Nuestro objetivo es brindar un servicio personalizado y de gran calidad, buscando en todo momento otorgar soluciones legales integrales, de acuerdo a las necesidades de nuestros clientes.</p>
        <p>&nbsp;</p>
        <p>Contamos con un equipo de trabajo integrado por profesionales egresados de las universidades más prestigiosas del país, con maestrías y especializaciones en distintas áreas del Derecho. Antes de formar parte de CCLR Abogados, nuestros miembros ejercieron la práctica profesional en prestigiosos estudios, empresas e instituciones públicas de primer nivel, lo cual les permitió obtener amplia experiencia en la asesoría de entidades públicas y privadas, tanto nacionales como extranjeras.</p>

    </div>
</div><!-- end features section 1 -->